.cart-info{
    position: sticky;
    top: 0;
    color: black;
    padding: 28px;
}
.clear-btn{
    border-radius: 6px;
    border: 1px solid gray;
    color: white;
    background-color: orange;
    margin: 5px;
    padding: 5px;
    width: 120px;
}