.cart-info{
    position: sticky;
    top: 0;
    margin: 0;
    color: black;
    padding: 28px;
    font-weight: 600;
   
}
.cart-info h3{
    font-size: 26px;
    

}
.cart-info span{
    color: orange;
    font-size: 15px;
}
.clear-btn{
   
        border-radius: 9px;
        border: 1px solid gray;
        color: white;
        background-color: orange;
        margin: 4px;
        padding: 5px;
        width: 160px; 
        cursor: pointer;
    
}
.clear-btn:hover{
    background-color: black;
    color: white;
}