.kk{
    background: paleturquoise;
    margin: 10px;
    padding: 10px;
}
.check{
    border-radius: 9px;
    border: 1px solid gray;
    color: white;
    background-color: orange;
    margin: 4px;
    padding: 5px;
    width: 160px; 
    cursor: pointer;
}
.check:hover{
    background: transparent;
    color: black;
}