.header{

    height: 75px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: ;
}
.logo{
    width: 4%;
    margin-top: 14px;
    margin-left: 20px;
}
.navhead a{
    padding: 6px;
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size:18px;
}
.navhead{
    margin-right: 80px;
}